<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>业务通告 - 添加非周期性业务通告</title>

  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://use.fontawesome.com/139fb40d1a.js"></script>

  <link rel="stylesheet/less" type="text/css" href="css/styles.less">
  <!---注意你的less样式文件一定要在引入less.js前先引入--->
  <script src="https://cdn.bootcss.com/less.js/2.7.2/less.min.js" type="text/javascript"></script>

  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>
<body>
  <div class="container-fluid" role="navigation" id="vue">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">业务通告</a>
        </div>

        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">今日航班 <i class="fa fa-plane" aria-hidden="true"></i></a></li>
            <li><a href="view.html">浏览通告 <i class="fa fa-file-text" aria-hidden="true"></i></a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">添加业务通告 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="cancel.html">添加"取消通告" <i class="fa fa-times" aria-hidden="true"></i></a></li>
                <li class="divider"></li>
                <li><a href="regular.html">周期性业务通告 <i class="fa fa-refresh" aria-hidden="true"></i></a></li>
                <li class="divider"></li>
                <li class="active"><a href="unregular.html">非周期性业务通告 <i class="fa fa-spinner" aria-hidden="true"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </nav>

    <div class="menu-offset panel panel-default table-responsive">
      <div class="panel-heading"><strong>添加非周期性业务通告</strong></div>
      <form>
        <div class="row">
          <div class="form-group col-sm-2">
            <label for="serial">业务通告编号</label>
            <input type="text" class="form-control" id="serial" placeholder="业务通告编号">
          </div>
          <div class="form-group col-sm-2">
            <label for="company">航空公司</label>
            <input type="text" class="form-control" id="company" placeholder="航空公司">
          </div>
          <div class="form-group col-sm-1 replace-button">
            <a class="btn btn-warning" title="变更通告" @click.stop="replaceTrigger"><i class="fa" :class="{'fa-circle':replace, 'fa-circle-o':!replace}" aria-hidden="true"></i> 变更通告</a>
          </div>
          <div class="form-group col-sm-2" v-show="replace">
            <label for="company">变更通告编号</label>
            <input type="texts" class="form-control" id="replace-serial" placeholder="通告编号">
          </div>
        </div>

        <hr/>

        <div v-for="(flight,key) in flights" class="form-group well">
          <label for="company">航班</label>
          <div class="row">
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="航班号">
            </div>
            <div class="col-sm-1">
              <input type="text" class="form-control" placeholder="机型">
            </div>
            <div class="col-sm-1">
              <input type="text" class="form-control" placeholder="机号">
            </div>
            <div class="col-sm-2">
              <input type="date" class="form-control" placeholder="生效日期">
            </div>
          </div>

          <div class="row add-flights">
            <div class="col-xs-2 has-success">
              <input type="text" class="form-control" :placeholder="flight.startStation">
            </div>
            <template v-for="nextStation in flight.nextStations" >
              <div class="col-xs-2 time-set">
                <div class="pull-left">
                  <input type="time" class="form-control" :placeholder="nextStation.depTime">
                </div>
                <div class="pull-left">
                  <input type="text" class="form-control pull-left" :placeholder="0">
                </div>
              </div>
              <div class="separate pull-left"><i class="fa fa-fighter-jet" aria-hidden="true"></i></div>
              <div class="col-xs-2 time-set">
                <div class="pull-left">
                  <input type="time" class="form-control" :placeholder="nextStation.arrTime">
                </div>
                <div class="pull-left">
                  <input type="text" class="form-control pull-left" :placeholder="0">
                </div>
              </div>
              <div class="col-xs-2 has-success">
                <input type="text" class="form-control" :placeholder="nextStation.station">
              </div>
            </template>

            <div class="col-sm-2">
              <a class="btn btn-primary" title="添加航站" @click.stop="addStation(key)">+</a>
              <a class="btn btn-primary" :class="{'disabled':flight.nextStations.length <= 1}" title="删除航站" @click.stop="removeStation(key)">-</a>
            </div>
          </div>
        </div>

        <div class="config">
          <a class="btn btn-primary" title="添加航线" @click.stop="addflight()">添加航班</a>
          <a class="btn btn-primary" :class="{'disabled':flights.length  <= 1}" title="删除航线" @click.stop="removeflight()">删除航班</a>
        </div>

        <hr/>

        <div class="form-horizontal well" v-if="support.tm">
          <div class="form-group">
            <label for="fuel" class="col-sm-1 control-label">油料</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="fuel" placeholder="油料">
            </div>
          </div>
          <div class="form-group">
            <label for="clean" class="col-sm-1 control-label">加清排污</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="clean" placeholder="加清排污">
            </div>
          </div>
          <div class="form-group">
            <label for="food" class="col-sm-1 control-label">航食</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="food" placeholder="航食">
            </div>
          </div>
          <div class="form-group">
            <label for="ground" class="col-sm-1 control-label">地服</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="ground" placeholder="地服">
            </div>
          </div>
          <div class="form-group">
            <label for="maintenance" class="col-sm-1 control-label">机务</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="maintenance" placeholder="机务">
            </div>
          </div>
        </div>

        <div class="config">
          <a class="btn btn-warning" title="添加保障单位" @click.stop="addUnits()">{{ support.tm ? '删除' : '添加'}}保障单位</a>
        </div>

        <hr/>

        <div class="row">
          <div class="col-sm-12 notes">
            <label for="notes" @click.stop="notesSwitch" :class="{'text-muted': !notes.set}">备注 <i class="fa fa-toggle-on" :class="{'fa-rotate-180': !notes.set}" aria-hidden="true"></i></label>
            <textarea id="notes" rows="8" v-model="notes.content" v-show="notes.set"></textarea>
          </div>
        </div>

        <div class="render text-center">
          <a class="btn btn-success btn-lg" title="生成业务通告" @click.stop="render">生成业务通告</a>
        </div>

      </form>
    </div>

  </div>

  <script type="text/javascript">
    let app = new Vue({
      el: '#vue',
      data() {
        return{
          regular: false,
          serial: '',
          company: '',
          startTime: '',
          endTime: '',
          replace: false,
          replaceSerial: '',
          support: {
            tm: false,
            units: {
              fuel: '',
              clean: '',
              food: '',
              ground: '',
              maintenance: '',
            }
          },
          flights: [
            { //flight1
              number: '航班号',
              type: '机型',
              planeId: '机号',
              date: '执行日期',

              startStation: '起始航站',
              nextStations: [
                { //station1
                  depTime: '离港时间',
                  depStep: 0,
                  arrTime: '到港时间',
                  arrStep: 0,
                  station: '航站名'
                }
              ],
            },
          ],
          notes: {
            content: '',
            set: false
          },
        }
      },
      methods: {
        replaceTrigger() {
          this.replace = !this.replace;
        },
        addStation(key) {
          this.flights[key].nextStations.push({
            depTime: '离港时间',
            depStep: 0,
            arrTime: '到港时间',
            arrStep: 0,
            station: '航站名'
          });
        },
        removeStation(key) {
          if(this.flights[key].nextStations.length > 1)
            this.flights[key].nextStations.pop();
        },
        addflight() {
          this.flights.push({
            number: '航班号',
            type: '机型',
            date: '执行日期',
            startStation: '起始航站',
            nextStations: [
              {
                depTime: '离港时间',
                depStep: 0,
                arrTime: '到港时间',
                arrStep: 0,
                station: '航站名'
              }
            ],
          });
        },
        removeflight() {
          if(this.flights.length > 1)
            this.flights.pop();
        },
        addUnits() {
          this.support.tm = !this.support.tm;
        },
        notesSwitch() {
          this.notes.set = !this.notes.set;
        },
        render() {

        }
      }
    });
  </script>

  <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
